POSTGRES_USER=pguser
POSTGRES_PASSWORD=password
POSTGRES_DB=pulse_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DISCOVERY_HOST=discovery
CONFIG_SERVER_HOST=config-server
GATEWAY_HOST=gateway
PULSE_HOST=pulse

FRONTEND_PORT: 8000
DOMAIN_IP: localhost