POSTGRES_USER=pguser
POSTGRES_PASSWORD=password
POSTGRES_DB_PULSE=pulse_db
POSTGRES_DB_KEYCLOAK=keycloak
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=pgadmin@pgadmin.org
PGADMIN_DEFAULT_PASSWORD=admin

DISCOVERY_HOST=discovery
CONFIG_SERVER_HOST=config-server
GATEWAY_HOST=gateway
PULSE_HOST=pulse

FRONTEND_PORT=8000
DOMAIN_IP=netrics.local

REDIS_HOST=redis
REDIS_PORT=6379

KEYCLOAK_HOST=keycloak
KEYCLOAK_PORT=8080
KEYCLOAK_DB_PASSWORD="${POSTGRES_PASSWORD}"
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=password
REALM_NAME=netrics
KEYCLOAK_CLIENT_SECRET=xxxxx
GATEWAY_CLIENT_ID=netrics-gateway
GATEWAY_CLIENT_SECRET=xxxxx
PULSE_CLIENT_ID=netrics-pulse
PULSE_CLIENT_SECRET=xxxxx
FRONTEND_CLIENT_ID=netrics-frontend

CORE_POOL_SIZE=3
MAX_POOL_SIZE=6
QUEUE_CAPACITY=50