MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=root
MYSQL_HOST=netrics_mysql    # docker-compose service name (since all services are under a single Docker network)
MYSQL_PORT=3306
MYSQL_DATABASE=netrics_pulse_db

DISCOVERY_HOST=discovery
CONFIG_SERVER_HOST=config-server
GATEWAY_HOST=gateway
NETRICS_PULSE_HOST=netrics-pulse