@import "tailwindcss";
@plugin "daisyui";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

html,
body,
#root{
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-stone-100;
  @apply text-stone-800;
}

/* Force visibility for debugging */
/*section, table, tr, td, th, div {*/
/*  visibility: visible !important;*/
/*  display: revert !important;*/
/*}*/

