<!--@if (visible) {-->
<!--  <div class="alert alert-soft shadow-lg fixed top-5 right-5 w-80 z-[9999]" [ngClass]="typeClass">-->
<!--    <div>-->
<!--      <span>{{ alert?.message }}</span>-->
<!--    </div>-->
<!--    <button class="btn btn-sm" (click)="close()">✕</button>-->
<!--  </div>-->
<!--}-->

<div class="fixed top-5 right-5 flex flex-col gap-3 z-[9999]">
  @for (alert of alerts; track alert.id) {
    <div role="alert" class="alert shadow-xl w-80 animate-fade-in-down"
         [ngClass]="getTypeClass(alert.type)">
      <div>
        <span>{{ alert.message }}</span>
      </div>
      <button class="ml-auto" (click)="close(alert.id)">✕</button>
    </div>
  }
</div>

