<div class="flex h-[100%] w-full flex-col justify-start">
<!--  Logo-->
  <div class="z-50 flex min-h-[56px] w-64 items-center justify-between bg-white px-6 pt-3 dark:bg-stone-800">
    <div class="text-xl font-bold text-stone-800 dark:text-white">
      NETRICS
    </div>
  </div>

<!--  UserName-->
  <div class="flex items-center gap-5 border-y-[1.5px] border-stone-200 px-8 py-4 dark:border-stone-600">
    IMAGE
    <div>
      <h3 class="text-md font-bold tracking-wide dark:text-stone-200">
        Thilanka W
      </h3>
      <div class="mt-1 flex items-start gap-2">
<!--        <div class="mt-[0.1rem] h-3 w-3 text-stone-500 dark:text-stone-400 "  >-->
<!--          Admin-->
<!--        </div>-->
        <p class="text-xs text-stone-500">Admin</p>
      </div>
    </div>
  </div>
<!--  Navbar Links-->
</div>
