<div class="drawer 2xl:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle"/>
  <div class="drawer-side">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>

    <ul class="menu bg-bas-200 bg-white text-base-content min-h-full w-[240px] p-4 gap-1">
      <!-- Sidebar content here -->
      <div class="flex flex-row items-center gap-1">
<!--        <span class="material-symbols-outlined text-blue-900 text-xs">network_intel_node</span>-->
        <span class="text-2xl font-semibold logo text-stone-600 2xl:hidden">
          Netrics
        </span>
      </div>
      <div class="border-t  mt-1 mb-4 2xl:my-4 border-base-100"></div>
      <li>
        <a class="flex flex-row items-center gap-4 border border-base-300 bg-base-200">
          <span class="material-symbols-outlined text-neutral-800">cardiology</span>
          <div class="flex flex-col">
            <span class="font-semibold text-neutral-800">Pulse</span>
            <span class="font-normal text-xs text-neutral-500">Worst Cell Analysis</span>
          </div>
        </a>
      </li>
      <li class="">
        <a class="flex flex-row items-center gap-4 hover:bg-base-300">
          <span class="material-symbols-outlined text-neutral-600">flare</span>
          <div class="flex flex-col">
            <span class="font-semibold text-neutral-600">Flare</span>
            <span class="font-normal text-xs text-neutral-400">KPI Anomaly Detection</span>
          </div>
        </a>
      </li>
      <li>
        <a class="flex flex-row items-center gap-4 hover:bg-base-300">
          <span class="material-symbols-outlined text-neutral-600">event</span>
          <div class="flex flex-col">
            <span class="font-semibold text-neutral-600">Surge</span>
            <span class="font-normal text-xs text-neutral-400">Special Event Monitoring</span>
          </div>
        </a>
      </li>
      <div class="border-t  my-2 2xl:my-4 border-neutral-100"></div>
      <li>
        <a class="flex flex-row items-center gap-4 hover:bg-base-300">
          <span class="material-symbols-outlined text-neutral-600">infrared</span>
          <div class="flex flex-col">
            <span class="font-semibold text-neutral-600">Beam</span>
            <span class="font-normal text-xs text-neutral-400">Azimuth & Tilt Tracking</span>
          </div>
        </a>
      </li>
      <li>
        <a class="flex flex-row items-center gap-4 hover:bg-base-300">
          <span class="material-symbols-outlined text-neutral-600">list_alt_check</span>
          <div class="flex flex-col">
            <span class="font-semibold text-neutral-600">Mark</span>
            <span class="font-normal text-xs text-neutral-400">Service Verification Checklist</span>
          </div>
        </a>
      </li>

      <li class="mt-auto">
        <a class="flex flex-row items-center gap-4 hover:bg-base-300">
          <span class="material-symbols-outlined text-neutral-600">settings</span>
          <div class="flex flex-col">
            <span class="font-semibold text-neutral-600">App Settings</span>
            <!--            <span class="font-normal text-xs text-neutral-400">Service Verification Checklist</span>-->
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
