<div class="flex flex-col gap-3">
  <nav class="flex flex-row flex-wrap gap-4 space-x-4 items-center">
    <div class="flex flex-col gap-y-0 ">
      <div class="text-sm font-medium"></div>
      <div class="text-xl font-semibold">Cell Analysis</div>
    </div>

    <div class="breadcrumbs text-xs text-secondary grow-1">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/pulse">Pulse</a></li>
        @if (rat()) {
          <li>{{ cellName() }} &nbsp; <span class="text-base-300">{{ rat()?.label }}</span></li>
        }
      </ul>
    </div>

    <div class="tabs tabs-box tabs-xs border border-base-300">
      <input type="radio" name="aggregation_tabs" class="tab" aria-label="Day Average" checked="checked"/>
      <input disabled type="radio" name="aggregation_tabs" class="tab" aria-label="Busy Hour"/>
    </div>

    <div class="dropdown">
      <label tabindex="0" class="input input-sm">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        <input type="search" class="grow " placeholder="Search cell" [ngModel]="queryCell()"
               (ngModelChange)="onSearchCell($event)"/>
      </label>

      @if (queryCell().length > 2) {
        @if (filteredCells().length > 0) {
          <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-auto p-2 shadow-sm text-xs">
            @for (cell of filteredCells(); track $index) {
              <li>
                <a class="p-2 hover:bg-base-200 cursor-pointer text-base-300" (click)="selectCell(cell)">
                  <span class="text-base-content"> {{ cell.cellName }} </span>
                  <span class="text-base-300">{{ cell.ratLabel }}</span>
                </a>
              </li>
            }
          </ul>
        } @else {

          <ul tabindex="-1"
              class="dropdown-content menu bg-base-100 text-secondary rounded-box z-1 w-auto p-4 shadow-sm text-xs">
            <li> No cell available by {{ queryCell() }}</li>
          </ul>
        }
      }
    </div>
  </nav>
  <section>


    <div [hidden]="!cellSelected()"
         class="flex flex-col gap-2 p-4 border border-base-300 rounded-xl bg-base-100 ">
      <!--         class="flex flex-col gap-2 p-4 border border-base-300 rounded-xl bg-base-100 shadow-lg/5">-->
      <div class="flex flex-row gap-2">
        <select class="select select-sm w-auto" [(ngModel)]="selectedStandardKpi"
                (change)="selectKpi(selectedStandardKpi(), rat()?.name!)">
          @if (standardKpis.length === 0) {
            <option disabled selected>KPI</option>
          }
          @for (kpi of standardKpis; track $index) {
            <option [value]="kpi.kpiName">{{ kpi.label }}</option>
          }
        </select>
        <div class="tabs tabs-box tabs-xs ml-auto">
          <input type="radio" name="period_tabs" class="tab" aria-label="Week" checked="checked"
                 [(ngModel)]="trendPeriod" [value]="'week'" (ngModelChange)="onPeriodChange($event)"/>
          <input type="radio" name="period_tabs" class="tab" aria-label="Month" [(ngModel)]="trendPeriod"
                 [value]="'month'" (ngModelChange)="onPeriodChange($event)"/>
          <input type="radio" name="period_tabs" class="tab" aria-label="Quarter" [(ngModel)]="trendPeriod"
                 [value]="'quarter'" (ngModelChange)="onPeriodChange($event)"/>
        </div>
      </div>
      <div>

        @if (loadingTrendData()) {
          <div class="flex w-full flex-col gap-4 mt-2 mb-2">
            <div class="skeleton h-84 w-full"></div>
          </div>
        }
        <app-linechart [hidden]="loadingTrendData()" [chartSeries]="chartSeries()"></app-linechart>
      </div>
    </div>

    <div class="flex justify-center py-8">

      <div [hidden]="cellSelected()" class="card w-96 card-md border border-base-300 rounded-xl bg-base-100">
        <div class="card-body">
          <h2 class="card-title">No data available</h2>
          <p>No cell is selected. Please search a cell</p>
        </div>
      </div>
    </div>

  </section>
</div>



