<div class="bg-base-100 2xl:grid 2xl:grid-cols-[240px_1fr] h-screen">
  <aside>
    <app-sidebar></app-sidebar>
  </aside>
  <div class="bg-base-100 grid grid-rows-[auto_1fr] grid-cols-1 h-screen">
    <nav class="px-4 md:px-8 lg:px-12 xl:px-16 2xl:px-0 2xl:pl-8 2xl:pr-32 mx-2  bg-base-100">
      <app-navbar></app-navbar>
    </nav>
    <main class="flex-1 overflow-y-auto col-span-12 px-4 md:px-8 lg:px-12 xl:px-16 2xl:px-0 2xl:pl-6 2xl:pr-32 pt-4 mx-2 mb-1 2xl:m-2 bg-base-200 rounded-xl">
      <app-content></app-content>
    </main>
  </div>

</div>
