<div>
  <div class="m-4 flex flex-col gap-4">
    <nav class="flex flex-row flex-wrap gap-4 space-x-4 items-center">
      <div class="flex flex-col gap-y-0">
        <div class="text-sm font-medium"></div>
        <div class="text-2xl font-bold">NETRICS PULSE</div>
      </div>
      <div class="grow-1"></div>
      <div>
        <div class="tabs tabs-box tabs-xs border border-blue-50">
          <input type="radio" name="rat_tabs" class="tab" aria-label="LTE-FDD" checked="checked"/>
          <input type="radio" name="rat_tabs" class="tab" aria-label="LTE-TDD"/>
          <input type="radio" name="rat_tabs" class="tab" aria-label="GSM"/>
          <input type="radio" name="rat_tabs" class="tab" aria-label="UMTS"/>
        </div>
      </div>

      <div class="flex flex-row gap-2">
        <select class="select select-xs">
          <option disabled selected>Region</option>
          <option>Region 1</option>
          <option>Region 2</option>
          <option>Region 3</option>
        </select>
        <select class="select select-xs">
          <option disabled selected>District</option>
          <option>Ampara</option>
          <option>Anuradhapura</option>
          <option>Batticaloa</option>
        </select>
      </div>
      <div class="tabs tabs-box tabs-xs border border-green-50">
        <input type="radio" name="aggregation_tabs" class="tab" aria-label="Day Average" checked="checked"/>
        <input type="radio" name="aggregation_tabs" class="tab" aria-label="Busy Hour"/>
      </div>
      <div class="flex flex-row gap-2">
        <p>Granularity</p>
        <select class="select select-xs" [(ngModel)]="granularity" (change)="selectGranularity(granularity)">
          <option [value]="'day'" selected>Day</option>
          <option [value]="'week'">Week</option>
          <option [value]="'month'">Month</option>
        </select>
      </div>
    </nav>
    <!--    <section class=" flex flex-row justify-around items-center flex-wrap xl:flex-nowrap items-stretch gap-2 ">-->
    <section class=" grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-3 ">
      @for (snapshot of basicKpiSnapshots; track $index) {
        <div  class="stats grow-1 border border-stone-200 bg-white rounded-xl shadow-md/5" [ngClass]="snapshot.improved ? 'shadow-green-500' : 'shadow-red-500'">
          <div class="stat">
            <div class="stat-title font-semibold">{{ snapshot.kpiLabel }}</div>
            <div class="flex flex-row flex-wrap gap-x-2 gap-y-0">
              <div
                class="stat-value font-semibold text-stone-600">{{ snapshot.value | number :'1.2-2' }}{{ snapshot.unit }}
              </div>
              <div class="stat-figure">
                <span
                  [class]="snapshot.improved ? 'text-green-400' : 'text-red-600'">{{ snapshot.difference | number :'1.2-2' }}{{ snapshot.unit }}</span>
              </div>
            </div>
            <div class="stat-desc">
              <table class="table table-xs">
                <tbody>
                  @for (standardKpi of snapshot.standardKpis; track $index) {
                    <tr>
                      <td>
                        <div>{{ standardKpi.kpiLabel }}</div>
                        <div class="font-semibold">
                          {{ standardKpi.value | number :'1.2-2' }}{{ standardKpi.unit }}
                          <span [class]="snapshot.improved ? 'text-green-400 font-normal' : 'text-red-600 font-normal'">
                          ({{ standardKpi.difference | number :'1.2-2' }}{{ standardKpi.unit }})
                        </span>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      }
    </section>

    <!--    <div class="flex flex-row gap-4 flex-wrap justify-around">-->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3 ">
      <section class=" flex flex-col gap-3 grow-1 p-4 border border-stone-200 rounded-xl bg-white shadow-lg/5">
        <div class="flex flex-row">
          <h2 class="text-xl font-semibold">Worst Cells</h2>
          <select class="select select-xs ml-auto" [(ngModel)]="selectedStandardKpi"
                  (change)="selectKpi(selectedStandardKpi)">
            <!--            <option disabled selected>KPI</option>-->
            @for (kpi of standardKpis; track $index) {
              <option [value]="kpi.kpiName">{{ kpi.label }}</option>
            }
          </select>
        </div>
        <div class="overflow-x-auto">
          <table class="table table-xs">
            <!-- head -->
            <thead>
            <tr>
              <th class="font-semibold">#</th>
              <th class="font-semibold">Cell Name</th>
              <th class="font-semibold">KPI</th>
              <th class="font-semibold">Value</th>
              <!--              <th class="font-semibold">Difference</th>-->
              <th class="font-semibold">Action</th>
            </tr>
            </thead>
            <tbody>
            <!-- row -->
              @for (cell of worstCells; track cell.cellName; let i = $index) {
                <tr class="hover:bg-stone-200">
                  <td>{{ i + 1 }}</td>
                  <td>{{ cell.cellName }}</td>
                  <td>{{ cell.kpiLabel }}</td>
                  <td [class.text-red-600]="cell.value! < 99.95">{{ cell.value | number :'1.2-2' }}{{ cell.unit }}
                    <span
                      [class]="cell.improved ? 'text-green-400' : 'text-red-600'">&nbsp;({{ cell.difference | number: '1.2-2' }}{{ cell.unit }}
                      )
                    </span></td>
                  <td>
                    <button class="btn btn-xs">Analyse</button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="join justify-center">
          <button class="join-item btn disabled btn-xs">«</button>
          <button class="join-item btn btn-active btn-xs">1</button>
          <button class="join-item btn btn-xs">»</button>
        </div>
      </section>
      <section class=" flex flex-col gap-4 p-4 border border-stone-200 rounded-xl bg-white shadow-lg/5">
        <div class="flex flex-row gap-2">
          <h2 class="text-xl font-semibold">KPI Trend</h2>
          <div class="tabs tabs-box tabs-xs ml-auto">
            <input type="radio" name="period_tabs" class="tab" aria-label="Week" checked="checked"
                   [(ngModel)]="selectedKpiTrendPeriod" [value]="'week'" (ngModelChange)="onPeriodChange($event)"/>
            <input type="radio" name="period_tabs" class="tab" aria-label="Month" [(ngModel)]="selectedKpiTrendPeriod"
                   [value]="'month'" (ngModelChange)="onPeriodChange($event)"/>
            <input type="radio" name="period_tabs" class="tab" aria-label="Quarter" [(ngModel)]="selectedKpiTrendPeriod"
                   [value]="'quarter'" (ngModelChange)="onPeriodChange($event)"/>
          </div>
        </div>
        <app-line-chart [kpiTrendData]="kpiTrendData"></app-line-chart>
      </section>
    </div>

  </div>
</div>
