<div class="navbar flex-row px-0 min-h-0 h-12 2xl:h-16">
  <div class="flex-row ">
    <!--    DRAWER-->
    <div class="drawer bg-re-500">
      <input id="my-drawer" type="checkbox" class="drawer-toggle"/>
      <div class="drawer-content">
        <!-- Page content here -->
        <label for="my-drawer" class="button cursor-pointer text-stone-600"><span class="material-symbols-outlined">menu</span></label>
      </div>
      <div class="drawer-side">
        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu bg-stone-50 text-base-content min-h-full w-80 p-4">
          <!-- Sidebar content here -->
          <li><a>Sidebar Item 1</a></li>
          <li><a>Sidebar Item 2</a></li>
        </ul>
      </div>
    </div>

  </div>
  <div class="font-semibold text-2xl ml-4">Netrics</div>
  <div class="flex gap-2 items-center ml-auto">
    <label class="input input-sm border-stone-200" disabled>
      <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2.5"
          fill="none"
          stroke="currentColor"
        >
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.3-4.3"></path>
        </g>
      </svg>
      <input type="search" disabled class="grow text-stone-400" placeholder="Search"/>
    </label>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" disabled class="btn btn-ghost btn-circle  avatar avatar-placeholder">
        <div class="w-8 rounded-full    bg-stone-500 text-neutral-content ">
<!--          <img-->
<!--            alt="Tailwind CSS Navbar component"-->
<!--            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"/>-->
          <span class="text-xs">USR</span>
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li>
          <!--          <a class="justify-between">-->
          <!--            Profile-->
          <!--            <span class="badge">New</span>-->
          <!--          </a>-->
          <a>Profile</a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>
