<dialog #evictCacheModal id="evict_cache_modal" [class.modal-open]="open" class="modal w-auto">
  <div class="modal-box">
    <h3 class="text-lg font-bold mb-6">Evict Cache</h3>
    <div class="grid grid-cols-[120px_auto] gap-2 items-center">
      <div class="w-32">
        <p>RAT</p>
      </div>
      <div class="tabs tabs-box tabs-xs border border-base-300 w-fit">
        @for (_rat of rats; track $index) {
          <input type="radio" name="rat_tabs" class="tab" [value]="_rat.name" aria-label="{{_rat.label}}"
                 [checked]="rat() === _rat.name" (change)="selectRat($any($event.target).value)"/>
        }
      </div>
      <div class="flex flex-row gap-1 items-center">
        <p>Evict by Granularity</p>
      </div>
      <div>
        <input type="checkbox" class="toggle toggle-sm toggle-primary" [(ngModel)]="isEvictByGranularity"/>
      </div>

      <div [hidden]="!isEvictByGranularity()" class="w-32">
        <p>Granularity</p>
      </div>
      <div [hidden]="!isEvictByGranularity()" class="tabs tabs-box tabs-xs border border-base-300 w-fit">
        @for (gran of granularities; track gran.name) {
          <input type="radio" name="granularity_tabs" class="tab" [value]="gran.name"
                 aria-label="{{gran.label}}"
                 [checked]="granularity() === gran.name"
                 (change)="selectGranularity($any($event.target).value)"/>
        }
      </div>


    </div>
    <div class="flex flex-row mt-12 items-center">
      <div class="tooltip text-xs flex flex-row gap-4">
        <button
          [disabled]="evictingCache|| !hasAnyRole(['PULSE_CREATE',])"
          class="btn btn-primary btn-outline btn-sm" (click)="evictCaches()">
          <span [hidden]="!evictingCache" class="loading loading-spinner loading-xs"></span>
          <span [hidden]="evictingCache">
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M17 21.0002L7 21M17 21.0002L17.8031 21C18.921 21 19.48 21 19.9074 20.7822C20.2837 20.5905 20.5905 20.2843 20.7822 19.908C21 19.4806 21 18.921 21 17.8031V9.21955C21 8.77072 21 8.54521 20.9521 8.33105C20.9095 8.14 20.8393 7.95652 20.7432 7.78595C20.6366 7.59674 20.487 7.43055 20.1929 7.10378L17.4377 4.04241C17.0969 3.66374 16.9242 3.47181 16.7168 3.33398C16.5303 3.21 16.3242 3.11858 16.1073 3.06287C15.8625 3 15.5998 3 15.075 3H6.2002C5.08009 3 4.51962 3 4.0918 3.21799C3.71547 3.40973 3.40973 3.71547 3.21799 4.0918C3 4.51962 3 5.08009 3 6.2002V17.8002C3 18.9203 3 19.4796 3.21799 19.9074C3.40973 20.2837 3.71547 20.5905 4.0918 20.7822C4.5192 21 5.07899 21 6.19691 21H7M17 21.0002V17.1969C17 16.079 17 15.5192 16.7822 15.0918C16.5905 14.7155 16.2837 14.4097 15.9074 14.218C15.4796 14 14.9203 14 13.8002 14H10.2002C9.08009 14 8.51962 14 8.0918 14.218C7.71547 14.4097 7.40973 14.7155 7.21799 15.0918C7 15.5196 7 16.0801 7 17.2002V21M15 7H9"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  </span>

          Evict Caches
        </button>

        <button
          [disabled]="evictingAllCaches|| !hasAnyRole(['PULSE_CREATE',])"
          class="btn btn-error btn-outline btn-sm" (click)="evictAllCaches()">
          <span [hidden]="!evictingAllCaches" class="loading loading-spinner loading-xs"></span>
          <span [hidden]="evictingAllCaches">
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M12 8.4502V12.4502M12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21ZM12.0498 15.4502V15.5502L11.9502 15.5498V15.4502H12.0498Z"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                  </span>

          Evict All
        </button>
      </div>
      <div class="ml-auto">
        <button class="btn btn-sm" type="button" (click)="onCancel()">
          Close
          <span class="text-secondary">
            <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21 21L12 12M12 12L3 3M12 12L21.0001 3M12 12L3 21.0001" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</dialog>
