<div class="border border-base-300 rounded-lg h-full flex flex-col">
  <!--  <h2 class="text-md font-bold text-base-content">Legend</h2>-->
  <div class="p-4">
    <div class="text-sm opacity-50">Legend</div>
    <div class="text-lg font-semibold ">{{ standardKpiLabel }}</div>
  </div>

  <ul class="list" [hidden]="!isThresholdAvailable()">
    @for (threshold of sortedThresholds; track $index; let i = $index) {

      <li class="list-row items-center">
        <div
          class="size-4 rounded-box"
          [style.background]="threshold.color">
        </div>

        <div class="flex flex-row gap-3 items-center">
          <div class="font-semibold">
            {{ threshold.minValue }} - {{ threshold.maxValue }}
          </div>
          <div class="text-xs text-base-content/60">{{ threshold.label }}</div>
        </div>
      </li>
    }
  </ul>

  <div [hidden]="isThresholdAvailable()" class="card w-auto card-md border border-info rounded-xl bg-base-100 m-4">
    <div class="card-body text-secondary">
      <h2 class="card-title text-info">
        <svg width="21" height="21" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12 11V16M12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21ZM12.0498 8V8.1L11.9502 8.1002V8H12.0498Z"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        Legend Template Not Defined
      </h2>
      <p>You haven’t created a Legend Template for this KPI. Please check and create one if necessary.</p>
      <button class="btn btn-sm w-min mt-2" (click)="createCellMapLegend()">Create</button>
    </div>
  </div>

  @if (filterByBands) {
    <div class="flex p-4 flex-row flex-wrap gap-2">
      <!-- Clear button -->
      <button class="btn btn-xs"

              [class.btn-active]="selectedBand === ''"
              (click)="onBandClear()">
        All
      </button>
      <!-- Band buttons -->
      @for (band of bands; track band.name) {
        <button class="btn btn-xs"
                [class.btn-active]="selectedBand === band.name"

                (click)="onBandSelect(band.name!)">
          {{ band.name }}
        </button>
      }
    </div>
  }

  <div class="flex flex-col mt-auto p-4 gap-2">
    <div class="flex align-middle flex-row">
      <label class="text-base-content/80 text-xs">
        <input type="checkbox" class="checkbox checkbox-xs mr-1"
               [(ngModel)]="showSiteLabels"
               (change)="changeShowSiteLabels()"/>
        Show Labels
      </label>
      <label class="text-base-content/80 text-xs ml-auto">
        <input type="checkbox" class="checkbox checkbox-xs mr-1"
               [(ngModel)]="filterByBands"
               (change)="onFilterByBandsToggle()"/>
        Filter by Bands
      </label>
    </div>
    <div class="flex flex-row gap-1 align-middle w-full">
      <div class="tabs tabs-box tabs-xs border border-base-300">
        <input type="radio" name="is_default_tabs" class="tab" [attr.value]="true"
               aria-label="Default" [checked]="isAdmin" (change)="changeLegendType(true)"/>
        <input type="radio" name="is_default_tabs" class="tab" [attr.value]="false"
               aria-label="Custom" [disabled]="!isThresholdsCustomizable" [checked]="!isAdmin"
               (change)="changeLegendType(false)"/>
      </div>
      <button [hidden]="!isThresholdEditable" class="btn btn-sm w-min ml-auto" (click)="createCellMapLegend()">
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 8.00012L4 16.0001V20.0001L8 20.0001L16 12.0001M12 8.00012L14.8686 5.13146L14.8704 5.12976C15.2652 4.73488 15.463 4.53709 15.691 4.46301C15.8919 4.39775 16.1082 4.39775 16.3091 4.46301C16.5369 4.53704 16.7345 4.7346 17.1288 5.12892L18.8686 6.86872C19.2646 7.26474 19.4627 7.46284 19.5369 7.69117C19.6022 7.89201 19.6021 8.10835 19.5369 8.3092C19.4628 8.53736 19.265 8.73516 18.8695 9.13061L18.8686 9.13146L16 12.0001M12 8.00012L16 12.0001"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        Edit
      </button>
    </div>
  </div>
</div>
